@media (max-width: 63.9375em){
    #nav .subnav a{
        padding: 5px 12px;
    }

    .btn{
        padding: 15px 16px;
        font-size: 16px;
        appearance: none;
        -webkit-appearance: none;
    }

    .contact-form .form-control{
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-form .form-control{
        font-size: 16px;
    }

    #footer .social-list{
        font-size: 48px;
    }

    #footer .social-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

@media (max-width: 46.1875em){
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header{
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav> li{
        display: block;
    }

    #nav> li a{
        padding: 1px 24px;
    }

    #nav> li:first-child{
        display: inline-block;
    }
    
    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #content .mobile-member{
        width: 100%;
        margin-top: 30px;
    }

    #content .member-img{
        width: 60%;
    }   

    .contact-form{
        margin-top: 32px;
    }
}